.movies {
	&__item {
		display: inline-block;
		overflow: hidden;
		margin: 0px;
		height: auto;
		width: 150px;
		height: 223px;
		vertical-align: top;
		background-size: cover;
		background-repeat: no-repeat;
		border: 1px solid #2d2d2d;
		cursor: pointer;
		box-shadow: 0px 0px 10px 0px rgba(0,0,0,.2);

		-webkit-transition: all 0.2s ease-in-out 0s;
		   -moz-transition: all 0.2s ease-in-out 0s;
		        transition: all 0.2s ease-in-out 0s;

		&:hover {
			border: 1px solid #36c2fc;
			/* -webkit-transform: scale(1.1);
			transform: scale(1.1); */
			box-shadow: 0px 10px 15px 0px rgba(0,0,0,.3);
		}
	}
}